
package namer;
public class Unicode8 {
  public static void main(String[] args) {
  
    System.out.println("\1F970 ");

    System.out.println("\1F61C");
    
    System.out.println("	\1F494");
  }
