Вивести на консоль смайли та емоджі. Подумайте, як ви це можете зробити. Реалізуйте. Викладіть код у гітхаб, зробити докладний опис як це працює.

В програмі екліпс натискаємо по "вкладках" які подано далі -- window/preferences/general/workspace/text file encoding. У вкладці "other" змінюємо Cp1251 на UTF-8 і натискаємо apply.

На сайті unicode-table.com я знайшла потрібний смайл. Потім за допомогою "ЮНИКОД-КОДИРОВЩИКА" (https://unicode-table.com/ru/tools/decoder/) я конвертував потрібні мені емоджі в юникод.



(ПРИКЛАД КОДУ З СМАЙЛАМИ)

package namer;
public class Unicode8 {
  public static void main(String[] args) {
  
    System.out.println("\u2764 ");

  }
}
